
section#accapdis-01 {
    display: block;
    contain: content;
    height: 610px;
}


#accapdis-01 #fanny-img {
position: absolute; top:0px; left:0px; width:100%; height:100%;
        background:transparent;
        background: linear-gradient(top, rgba( 255, 255, 255, 255 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background: -moz-linear-gradient(top, rgba( 255, 255, 255, 0) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background: -ms-linear-gradient(top, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background: -o-linear-gradient( top, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background: -webkit-linear-gradient( top, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#550000FF, endColorstr=#550000FF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#ffffffff);}

h1.accueil {
    color: rgb(255 255 255);
    font-family: accapdis-font;
    font-family: accapdis-font;
    font-size: 3rem;
    font-weight: bold;
    margin: -1rem 3rem 4rem 3rem;
    text-align: left;
    z-index: 100;
    position: relative;
    bottom: 250px;
    letter-spacing: 2px;
    font-variant-caps: petite-caps;
}

svg.fill-white {
    margin: 0 0 -591px 0px;
    padding: 0;
}

#fanny-img img{
    width: 99%;
    object-fit: cover;
    object-position: center;
    position:absolute; top:-1px; left:0px; width:100%; height:100%; 
    z-index:-2;
} 
div#cache {
    background-color: #373ce775;
  /*background-image: linear-gradient(to bottom, rgb(255 148 33 / 0%), rgb(202 202 202 / 10%)); */ 
  z-index: 10;
 top:0px; left:0px; width:100%; height:100%;  
  position: absolute;
}


div#cache svg {
    position: relative;
    margin: 0 0 -615px 0;
}

/* insertion de la Font */
@font-face {
    font-family: accapdisFont;
    src: url(../fonts/Champagne-Limousines.ttf);
}

/* SECTION 02 */
div#intro {
    margin: 3rem 1rem;
}
/* SECTION 03 */
section#accapadis-03 {
    background-color: #F39200;
    color: white;
    margin: 3rem 0;
    padding: 6rem 2rem;
}
img.vignette{
display: block;
    /* width: fit-content; */
    width: 200px;
    z-index: 200;
}
.presta {
    color: #3c29b8;
}

.card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    border: 1px solid #f2a513c4 !important;
    background-color: #ef8a23c7;
}

a.btn.lien {
    /* text-align: center; */
    margin: 2rem;
}

.card-title {
    font-variant-caps: small-caps;
    font-size: 26px;
}


img.card-img-top {
    padding: 3rem;
    max-width: 250px;
}


DIAGNOSTIC PARTAGE

EVALUATION ET VEILLE COLLECTIVES

